# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local
.env.production

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Astro
.astro/

# AI tools
/CLAUDE.md
/agent-os
/.claude

# Firebase
firebase-debug.log
firebase-debug.*.log
.firebase/
*-debug.log
ui-debug.log
firestore-debug.log
pubsub-debug.log
